# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
*.env

# Django database (local SQLite)
db.sqlite3

# Keep migrations but ignore cache
*/migrations/__pycache__/

# Static & media files
/media/
staticfiles/

# Logs
*.log

# IDE & editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

