{% extends "base.html" %}

{% block title %}Patient Registration{% endblock%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/patient_register.css" %}">
{% endblock %}

{% block content %}

<section class="patient_registration">

        <div class="registration_container">

            
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

            <h1>Register as a Patient</h1>

            <form method="post"> 
                {% csrf_token %}
                
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" required>

                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" required>

                <label for="gender">Gender</label>
                <select name="gender" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>

                <label for="date_of_birth">Date of Birth</label>
                <input type="date" name="date_of_birth">

                <label for="blood_group">Blood Group</label>
                <select name="blood_group" id="blood_group">
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="o+">o+</option>
                    <option value="o-">o-</option>
                </select>

                <label for="disease">Disease</label>
                <input type="text" name="disease">

                <label for="email">Email</label>
                <input type="email" name="email" required>

                <label for="contact">Contact</label>
                <input type="text" name="contact" required>

                <label for="password">Password</label>
                <input type="password" name="password" required>

                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" required>

                <button type="submit">Register</button>
            </form>

            <div class="link">
                Already have an account?
                <a href="{% url "patient_login" %}">Login here</a>
            </div>

        </div>

    </section>

{% endblock %}