{% extends "admin_base.html" %}

{% block title %}Manage Billings{% endblock%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/manage_billings.css" %}">{% endblock %}

{% block content %}

<section class="billings">

    <div class="billing_container">

        <h1>Manage Billings</h1>

        <table>
            <tr>
                <th>Patient</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

            {% if billings %}
            {% for billing in billings %}
            <tr>
                <td>{{billing.patient.user.first_name}} {{billing.patient.user.last_name}}</td>

                <td>{{billing.amount}}</td>


                <td class="status">
                    {% if billing.status == "Paid" %}<p style="background-color: green;">Paid</p>{% endif %}
                    {% if billing.status == "Unpaid" %}<p style="background-color: orange;">Unpaid</p>{% endif %}
                    {% if billing.status == "Pending" %}<p style="background-color: lightseagreen;">Pending</p>{% endif %}
                    {% if billing.status == "Cancelled" %}<p style="background-color: red;">Cancelled</p>{% endif %}
                </td>


                <td>
                    <a href="{% url 'edit_billing' billing.id %}"><button class="edit_btn">Edit</button></a> 

                    <form method="post">
                        {% csrf_token %}
                        <button class="delete_btn" name="delete_btn" value="{{billing.id}}" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

            {% else %}
            <h3>No Billings Yet.</h3>
            {% endif %}

        </table>

        <a class="billing_btn" href="{% url "add_billings" %}">Add New Billing</a>

    </div>

</section>

{% endblock %}